#foot {
    align-content: center;
    background: #444;
    color: #fff;
    padding: 20px;
}

#foot p {
    margin-left: 50%;
}


/* Contact Form */

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 40%;
    padding: 10px;
    border: 1px solid #ddd;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

button {
    margin-bottom: 20px;
}